.card {
  margin: 16px;
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
}

.card-overview {
  position: relative;
  display: flex;
}

.card-product-image {
  width: 50%;
}

.card-product-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 60px;
  width: 70px;
}

.fake-video {
  margin: 0 auto;
  width: 100%;
  height: 100px;
  object-fit: cover;
  margin: 16px 0;
}

.card-preview {
  display: flex;
  justify-content: space-around;
}

.card-preview img {
  height: 100px;
  width: 100px;
  flex-grow: 1;
  margin-right: 16px;
}

.card-preview img:last-child {
  margin-right: 0px;
}

.inline-stars ul{
  list-style: none;
  color: orange;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

/*.btn-pink{
  border: 1px solid #9941D8;
  padding: 15px 20px;
  border-radius: 40%;
  font-weight:lighter;
  color: #9941D8;
  text-decoration: none;
}
.btn-pink:hover {
  background: linear-gradient(-135deg, #E4A972, #9941D8);
  color: white;
  border: 1px solid white;
}*/

.card-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.btn-samir {
  text-align: center;
  background-color: black;
  border: 2px solid black;
  color: #51C0BB;
  font-family: 'Knewave', cursive;
  font-size: 24px;
  padding: 8px 24px;
  border-radius: 8px;
  margin: 16px 0;
}
.btn-samir:hover {
  background-color: #51C0BB;
  border: 2px solid #E566C5;
  color: #E566C5;
  transition: 3s;
}
